.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.products a {
  flex: 25%;
  flex-direction: initial;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .products {
    flex-flow: wrap;
  }
  .products a {
    flex: 50%;
  }
}

@media only screen and (max-width: 650px) {
  .products a {
    flex: 100%;
  }
}