.searchDivWrapper {
  height: 60px;
  background-color: #d9d9d9;
  display: flex;
}

.searchDivWrapper a {
  text-decoration: none;
}
.searchDivWrapper .title,
.searchDivWrapper .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchDivWrapper .title {
  width: 20%;
  height: 100%;
  font-weight: bold;
  margin-top: 7px;
}
.searchDivWrapper .search {
  width: 50%;
  height: 100%;
  position: relative;
}
.searchInput {
  width: 80%;
  height: 80%;
  padding: 0 20px;
  font-size: 20px;
  color: rgb(92, 92, 92);
  transition: 0.2s;
}

.searchInput:focus {
  color: black;
}

.searchDivWrapper .icon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon img {
  margin-top: 7px;
  margin-bottom: 7px;
  transition: 0.2s;
}

.icon img:hover {
  opacity: 0.7;
}

.logout {
  font-size: 20px;
  margin-top: 10px;
  transition: 0.2s;
  color: black;
}

.logout:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.plusSign {
  height: 40px;
}

.dropdown {
  font-size: 18px;
}

.searchButton {
  cursor: pointer;
  transition: 0.2s;
}

.searchButton:hover {
  color: rgb(131, 131, 131);
}

@media only screen and (max-width: 900px) {
  .title a p {
    font-size: 30px !important;
    margin-right: 20px;
  }

  .searchInput {
    font-size: 16px !important;
  }

  .icon img {
    width: 40px !important;
    height: 40px !important;
    margin-right: 20px;
  }

  .plusSign {
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    width: auto !important;
  }
  .title a p {
    font-size: 25px !important;
  }

  .search {
    width: 200px !important;
  }

  .icon {
    width: auto !important;
  }

  .icon img {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
  }
}